doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 A flashcards application
    p 'Quantum carburetor'? Jesus, Morty. You can't just add a Sci-Fi word to a car word and hope it means something... Huh, looks like something's wrong with the microverse battery. We're gonna have to go inside. Don't be trippin dog we got you. Thanks Noob Noob, this guy gets it. Haha god-damn!