extends layout

block content
  h1 Sign Up
  
  // register form
  form(method='POST' action='/register')
    div
      label(for='name') Name:
      input#name(type='text', placeholder='first and last' name='name')
    div
      label(for='email') Email:
      input#email(type='email', placeholder='name@email.com' name='email')
    div
      label(for='pw') Password:
      input#pw(type='password' name='password')
    div
      label(for='pw2') Confirm Password:
      input#pw2(type='password' name='confirmPassword')
    button(type='submit') Sign up